* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    color: #AAA;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #AAA;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -5px transparent;
    border-radius: 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #DDD;
}

#workspaces button.focused {
    color: #111;
    background-color: #AAA;
    box-shadow: inset 0 -3px #DDD;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #DDD;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #AAA;
    background-color: #111;
    border-radius: 5px;
    border: 1px solid #AAA;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
}

#battery {
    color: #7FDBFF;
    border-color: #7FDBFF;
}

#battery.charging, #battery.plugged {
    color: #3D9970;
    border-color: #3D9970;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #FF4136;
    border-color: #FF4136;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: #000000;
}

#memory {
}

#disk {
}

#backlight {
}

#network {
    color: #3D9970;
    border-color: #3D9970;
}

#network.disconnected {
    color: #FF4136;
    border-color: #FF4136;
    
}

#pulseaudio {
}

#pulseaudio.muted {
    color: #FF4136;
}

#custom-media {
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}

#temperature.critical {
}

#tray {
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    color: #7FDBFF;
    border-color: #7FDBFF;
}

#mpd {
    color: #3D9970;
    border-color: #3D9970;
}

#mpd.disconnected {
    color: #AAA;
    border-color: #AAA;
}

#mpd.stopped {
    color: #AAA;
    border-color: #AAA;
}

#mpd.paused {
    color: #7FDBFF;
    border-color: #7FDBFF;
}

#language {
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}
